:root {
    --color1: hsl(179, 62%, 43%);
    --color2: hsl(71, 73%, 54%);
    --color3: hsl(179, 47%, 52%);
    --color_bg: hsl(204, 43%, 93%);
    --color_text: hsl(218, 22%, 67%);
}

* {margin: 0; padding: 0; }
ul, li {list-style: none;}
a, a:hover {text-decoration: none;}

body {background: var(--color_bg); height: 100vh; place-items: center; display: grid;}


#container {max-width: 310px; width: 100%;   overflow: hidden;  font-family: 'Karla', sans-serif;
    box-shadow: 0px 0px 19px 7px hsl(205, 37%, 88%); 
    border-radius: 0.5em;
}

.card_community, 
.card_subscription ,
.card_program {  padding: 1.6em;} 

.card_community {background: #ffffff; grid-area: community; line-height: 23px;}
.card_community h1 {font-size: 1.2em; color: var(--color1);}
.card_community h2 {color: var(--color2); padding: 24px 0 20px; font-size: 0.9em;}
.card_community p.tx_notice {color: var(--color_text); font-size: 0.85em;}

.card_subscription {background: var(--color1); grid-area: subscription;  color: #ffffff;}
.card_subscription h3 {font-size: 1.1em; margin-bottom: 16px; }
.card_subscription p {font-size: 1em; }
.card_subscription .price {font-size: 2em; font-weight: 600; margin-bottom: 10px;}
.card_subscription .price span {font-size: 0.5em; font-weight: 200; opacity: 0.8;  }
.card_program {background: var(--color3); grid-area: program;   color: #ffffff;}
.card_program h3 { font-size: 1.1em; margin-bottom: 0.7em;}
.card_program li {font-size: 0.85em;  padding: 2px 0; font-weight: 200;}

.-btn {padding: 13px 20px; display: block; text-align: center; background: var(--color2); color: #ffffff; border-radius: 0.3em;
    box-shadow: 0px 0px 7px 3px #27a29f; margin: 30px 0 0; }


@media screen and (min-width: 768px){ 

.card_community, 
.card_subscription ,
.card_program {  padding: 2.3em;} 


#container {max-width: 635px;   display: grid;
    grid-template-columns : 1fr 1fr;
    grid-template-areas : 
    "community community"  
    "subscription program";}

.card_community, 
.card_subscription ,
.card_program { display: flex; flex-flow: column nowrap; } 

.card_community { line-height: 26px;}
.card_community h1 {font-size: 1.4em; }
.card_community h2 { padding: 24px 0 20px; font-size: 1.1em; }
.card_community p.tx_notice {font-size: 1em;}

}